@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&family=Permanent+Marker&display=swap');
/* font-family: 'M PLUS Rounded 1c', sans-serif  -- Texto normal;
font-family: 'Permanent Marker', cursive;  -- Texto tiulos*/

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.0/font/bootstrap-icons.css");

*{
    margin: 0;
    padding: 0;
}

.text-center {
    text-align: center;
}

a {
    text-decoration: none;
}

.btn {
    cursor: pointer;
    display: inline-block;
    border: 0;
    font-weight: bold;
    padding: 10px 20px;
    background: #00aa01;
    color: #fff;
    font-size: 20px;
    border-radius: 10px;
    position: relative;
    font-family: 'M PLUS Rounded 1c', sans-serif;
}

.btn:hover {
    opacity: 0.9;
}

.showcase {
    width: 100%;
    height: 100vh;
    background: url(./static/img/Banner.png) no-repeat center center/cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: flex-end;
    padding-bottom: 50px;
    margin-bottom: 20px;
    color: #fff;
}

.showcase::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.6);
}

.showcase h1, .showcase p {
    margin-bottom: 20px;
    position: relative;
}

.showcase p {
    font-size: 20px;
    line-height: 1.5;
    margin: 0 50px 0 50px;
    font-family: 'M PLUS Rounded 1c', sans-serif;
}

.showcase h1 {
    font-size: 50px;
    font-family: 'Permanent Marker', cursive;
    font-weight: bold;
    line-height: 1.2;
}

.showcase .btn {
    margin-top: 20px;
}

#imgDatos{
    position: relative;
}

#levelStyle{
    margin-top: 50px;
}

.table{
    margin: 0 auto;
}